
<div style="height:700px; width: 98%;" >  
  <div class="row">    
    <p></p>
            <p class="fs-3">Archivo de comportamiento XML</p>
    <form class="row g-12 " [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="col-auto">
        <label for="staticEmail2" class="visually-hidden">Email</label>
        <input
                formControlName="file"
                id="file"
                type="file"
                name="file"
                class="form-control"
                (change)="onFileChange($event)">
      </div>
      
      <div class="col-auto">
        <button class="btn btn-primary" [disabled]="myForm.invalid" type="submit">Procesar archivo</button>
      </div>
      <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
        <div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>
      </div>
    </form>
    <p></p>
  </div>



    
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-6 border" >        
          <p></p>
          <p class="fs-6 ">Periodos Procesados</p>
          <table mat-table [dataSource]="periodoProcesos" class="mat-elevation-z8 demo-table" >
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="d_Alta">
              <th mat-header-cell *matHeaderCellDef>Alta</th>
              <td mat-cell *matCellDef="let element">{{element.d_Alta  | date:'MM/dd/yyyy'}}</td>
            </ng-container>
        
            <ng-container matColumnDef="I_Periodo">
              <th mat-header-cell *matHeaderCellDef>Periodo</th>
              <td mat-cell *matCellDef="let element">{{element.i_Periodo.id}}</td>
            </ng-container>

              
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Procesos</th>
                <td mat-cell *matCellDef="let element">
                  <button  mat-button color="primary" (click)="getArchivos($event,element)" >Archivos</button>
                </td>
              </ng-container>


              <ng-container matColumnDef="production">
                <th mat-header-cell *matHeaderCellDef>Cargar Data</th>
                <td mat-cell *matCellDef="let element">
                  <!--<button  mat-button color="accent" (click)="dataProduction($event,element)" >Subir</button>-->
                  <button mat-button [matMenuTriggerFor]="menu">Operaciones</button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="dataProduction($event,element)" >Subir Datos</button>
                    <button mat-menu-item (click)="dataProduction($event,element)" >Generar V9</button>
                  </mat-menu>
                  
                </td>
              </ng-container>


        
              
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
      
      <div class="col-6 border">
       
          <p></p>
          <p class="fs-6">Archivos</p>
          <table mat-table [dataSource]="controlEnvios" class="mat-elevation-z8 file-table" >
            <!-- Position Column -->
            
        
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef>Archivo</th>
              <td mat-cell *matCellDef="let element">{{element.fileName}}</td>
            </ng-container>

            <ng-container matColumnDef="claveAdministradorCartera">
              <th mat-header-cell *matHeaderCellDef>Administrador</th>
              <td mat-cell *matCellDef="let element">{{element.claveAdministradorCartera}}</td>
            </ng-container>
            
            
            <ng-container matColumnDef="claveIFCedioCartera">
              <th mat-header-cell *matHeaderCellDef>IFCedio</th>
              <td mat-cell *matCellDef="let element">{{element.claveIFCedioCartera}}</td>
            </ng-container>

            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef>Estadistica</th>
              <td mat-cell *matCellDef="let element">
                <button  mat-button color="primary" (click)="openDialog($event,element)" >ver</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Eliminar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="warn" aria-label="Delete file" (click)="deleteFiles($event,element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            


            <tr mat-header-row *matHeaderRowDef="displayedColumnsFile"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFile;"></tr>
          </table>
        </div>
    </div>

  </div>
