<mat-toolbar>
  <mat-toolbar-row class="justify-content-between"> 
    <button mat-icon-button (click)="toggleSidebar()" [disabled]="isLoggedin === false"><mat-icon>menu</mat-icon></button>    
    Administración Maestra SHF
    
    <div class="row mr-2 ml-auto">      
      <ul *ngIf="isLoggedin === false">
        <li>
          <button  mat-stroked-button (click)="loginWithGoogle()"><mat-icon>exit_to_app</mat-icon>Entrar con Gmail</button>
        </li> 
      </ul>
      
      <ul *ngIf="isLoggedin === true">
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
            <img src="{{socialUser.photoUrl}}" alt="" class="user-image mr-1 p-2"/>
            {{socialUser.email}}
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <mat-list-item role="listitem">{{socialUser.firstName}} {{socialUser.lastName}}</mat-list-item>
            <button mat-menu-item (click)="logOut()"><mat-icon>exit_to_app</mat-icon>Logout</button>
          </mat-menu>
        </li>
      </ul>

    </div>
  </mat-toolbar-row>
</mat-toolbar>