.logo{
    text-align: center;
    padding: 1.6rem;
    background-color: white;
    img{
        width: 200px;
    }
}

.mat-icon{
    vertical-align:center;
    margin-right: 1rem;
}

.mat-divider{
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item{
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;    
    
    ::ng-deep{
        .mat-list-item-content{
            border-radius: 5px;
            margin: 0 8px;
            &:hover{
                background-color: rgb(115, 139, 65) !important;
            }
        }
    }
}

.list-item-active{
    color: yellowgreen !important;
    ::ng-deep{
        .mat-list-item-content{
            background-color: rgb(54, 65, 34) !important;
            &:hover{
                background-color: rgb(115, 139, 65) !important;
            }
        }
    }
}

.mat-subheader{
    color: white !important;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
}